<div class="cage-inside has-background-primary-light">
  <div class="title is-6 has-text-centered py-2"><%= @cage.name.downcase.capitalize %></div>
  <div id="text-history"></div>
  <%= hidden_field_tag(current_animal.name, nil, id: 'current_animal') %>
  <form action="" id="text-form">
    <input type="text" id="text-input">
    <button class="button is-primary">Send</button>
  </form>
  
  <div class="hidden">
    <%= simple_form_for(Cage.new) do |f| %>
      <%= f.input :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>